<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp22F72FF408BD8B721C5EFF8B1EBB1D9E" Guid="{30B54538-55B8-4B8F-A602-7BA1ACBAAE6C}">
                <File Id="fil5216365AFD8F8DB2A3A44A7C33D432E5" KeyPath="yes" Source="$(var.BasePath)\chromedriver.exe" />
            </Component>
            <Component Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" Guid="{28617E9C-C958-452E-88EB-86EEE852A0AC}">
                <File Id="fil0AC151BF3F546CFD05E806D12E6A5768" KeyPath="yes" Source="$(var.BasePath)\clrcompression.dll" />
            </Component>
            <Component Id="cmp170DFF239B610B0ACA2229119DEA678E" Guid="{AB81444F-1BDC-4466-A78D-932934A95B33}">
                <File Id="filE90347B97ED4AE7124A57EB903AE43EE" KeyPath="yes" Source="$(var.BasePath)\clrjit.dll" />
            </Component>
            <Component Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" Guid="{95B53185-6F2B-406E-BE7F-7D42BC25606E}">
                <File Id="filDCDD15F7F6F6F4476AD67EA901580BA2" KeyPath="yes" Source="$(var.BasePath)\coreclr.dll" />
            </Component>
            <Component Id="cmp65A2A841ED5296864B65A1BFF7BB0065" Guid="{F5E43CDF-1301-4390-84CC-1A3DBD906EC4}">
                <File Id="fil121D2EB9088821A4D2A1D8EF5E4F2860" KeyPath="yes" Source="$(var.BasePath)\Kod Adı Afacanlar.exe" />
            </Component>
            <Component Id="cmp43F235888D53A9F4C7F3D36736F80E7A" Guid="{78BF5AC2-DDBC-4039-8421-AE1500AADA73}">
                <File Id="filD154E3E84A05E9DDD681EEF73A45C95E" KeyPath="yes" Source="$(var.BasePath)\Kod Adı Afacanlar.pdb" />
            </Component>
            <Component Id="cmp1C3A07743F6A8D6275CBF9F705FEDA1D" Guid="{83ED9ED3-1926-497A-8FB4-C780E9CE696E}">
                <File Id="filF9D514D058B0C41E8F50F7C3B3681AED" KeyPath="yes" Source="$(var.BasePath)\lessons.json" />
            </Component>
            <Component Id="cmp8812D666387DE314077AFBEE1C1D56ED" Guid="{5F2887F1-6185-415C-AA5B-028F7C4F002E}">
                <File Id="filD2840FE90167C460C1D951618FFCF912" KeyPath="yes" Source="$(var.BasePath)\libHarfBuzzSharp.dll" />
            </Component>
            <Component Id="cmp7A6DB975FC72819EA6FE5836E0FAB4EF" Guid="{718E32D0-FB9E-4D3F-989E-EC6E2383F002}">
                <File Id="filD7B08297A759A21ACA2ED5F664EC727D" KeyPath="yes" Source="$(var.BasePath)\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" Guid="{2AA988B5-C1F3-4A40-97EC-DA00EE9BA374}">
                <File Id="filEAEAE1CB9E8AC1FF00B05453ABEE2ADF" KeyPath="yes" Source="$(var.BasePath)\mscordaccore.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="KodAdiAfacanlarProject">
            <ComponentRef Id="cmp22F72FF408BD8B721C5EFF8B1EBB1D9E" />
            <ComponentRef Id="cmp2E5EDA8D72F327AFF452AE2FE00CEA69" />
            <ComponentRef Id="cmp170DFF239B610B0ACA2229119DEA678E" />
            <ComponentRef Id="cmp1FAC008E6AA14459AD5390EB28F23EFE" />
            <ComponentRef Id="cmp65A2A841ED5296864B65A1BFF7BB0065" />
            <ComponentRef Id="cmp43F235888D53A9F4C7F3D36736F80E7A" />
            <ComponentRef Id="cmp1C3A07743F6A8D6275CBF9F705FEDA1D" />
            <ComponentRef Id="cmp8812D666387DE314077AFBEE1C1D56ED" />
            <ComponentRef Id="cmp7A6DB975FC72819EA6FE5836E0FAB4EF" />
            <ComponentRef Id="cmpE35DDB3C925C83E74C7DAAE6FEA6C156" />
        </ComponentGroup>
    </Fragment>
</Wix>