<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define projName="Kod Adı Afacanlar" ?>
    <?define manu=Limonata ?>
    <Product Id="*" Name="$(var.projName)" Language="1033" Version="0.1.0.0" Codepage="1254" Manufacturer="$(var.manu)"
             UpgradeCode="24408221-0680-4d8d-9d3e-79b0d0dd8e94">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                      AllowSameVersionUpgrades="yes"/>
        <MediaTemplate EmbedCab="yes"/>

        <Feature Id="ProductFeature" Title="Kod Adı Afacanlar - Setup" Level="1">
            <ComponentGroupRef Id="KodAdiAfacanlarProject"/>
            <ComponentGroupRef Id="ComponentGroupDesktopShortcut"/>
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="$(var.projName)">
                    <Directory Id="DesktopFolder" Name="DesktopFolder"/>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ComponentGroupDesktopShortcut">
            <Component Id="ComponentDesktopShortcut" Guid="bd30dc93-8e54-4c83-a43b-722fbf0fe97a" Directory="DesktopFolder">
                <Shortcut Id="desktopShortCut" Name="Kod Adı Afacanlar.exe" Directory="DesktopFolder"
                          WorkingDirectory="INSTALLFOLDER" Target="[#fil121D2EB9088821A4D2A1D8EF5E4F2860]"/>
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\$(var.manu)\$(var.projName)" Name="installed" Type="integer"
                               Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
